.parent {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background-color: #313131;
}

.center-container {
    display: flex;
    justify-content: center; /* Центрирование по горизонтали */
    align-items: center; /* Центрирование по вертикали */
    height: 70vh; /* Пример высоты, может быть изменено в зависимости от вашего дизайна */
}

.graph {
    border: 2px solid #313131;
}

input {
    background-color: gray;
    border: 2px solid gray;
    width: 7%;
}
