<!doctype html>
<html lang="ru">
	<head>
		<title>canvas graph</title>
		<meta http-equiv='content-type' content='text/html; charset=utf-8' />
		<link href="main.css" rel="stylesheet" type="text/css" />
		<script src="graph.js"></script>
	</head>
	<body bgcolor ="#ffffdd">
		<div>
			<canvas id="canv" width = 600 height = 400 >
				Ваш браузер не поддерживает Canvas
			</canvas>
			<br>функция:
			<br><input type = "text" id = "func" value = "sin(x)">
		</div>
		<div>

			<div>		
			<fieldset>
				<legend>Параметры:</legend>

				<span class = "hdr">Границы по Х:</span><br>
				<span>x_left:</span> <input type="text" id="x_left"  class = "num" value="-1">
				<span>x_right: </span> <input type="text" id="x_right" class = "num" value="10"><br>

				<span class = "hdr">Предельные значения функции:</span><br>
				<input type = "button" value = "вычислить пределы" onclick = "calc_minmax();"><br>
				<span>func_min:</span>  <input type="text" id="func_min"  class = "num" >
				<span>func_max:</span>  <input type="text" id="func_max"  class = "num" ><br>

				<span class = "hdr">Границы по Y:</span><br>
				<span>y_down: </span> <input type="text" id="y_down" class = "num" value="-1.5">
				<span>y_up: </span> <input type="text" id="y_up"  class = "num" value="1.5"><br>
				<span class = "hdr">Цвет графика:</span><br>

				<select id="pencolor" onchange = 'set_color();'>
					<option value="red">Красный</option>
					<option value="green">Зеленый</option>
					<option value="blue" selected>Синий</option>
					<option value="brown">Коричневый</option>
				</select>
				
				<br>
				<input type = "button" id = 'btn' value = "нарисовать график" onclick = "draw_graph();">
				
			    <input type = "button" value = "Стереть все" onclick = "clear_canv();">		

			</fieldset>
			</div>

		</div>	
	</body>
</html>