div{
	float: left;
	margin: 10px;
}
canvas {
	border: 1px solid black;
}

.num{
	width:40px;
}
span{
	width:60px;
	text-align:right;
	display:inline-block;
	margin-right:10px;
}
span.hdr{
	width:260px;
	text-align:left;
	display:inline-block;
	font-weight:bold;
}
#func{
	width:600px;	
}
input, select{
	margin-bottom:20px;
}
#btn{
	margin-right:35px;
}